<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.demon.excel2entity.mapper.BookMapper">
    <insert id="insertBook" keyProperty="id" useGeneratedKeys="true" parameterType="org.demon.excel2entity.entity.Book">
        insert into t_book(book_name, book_author, price)
        values (#{bookName}, #{bookAuthor}, #{price});
    </insert>
</mapper>